---

- name: install homebrew cask
  homebrew_tap: tap=caskroom/cask state=present

- name: tap versent/homebrew-taps
  homebrew_tap: tap=versent/homebrew-taps state=present

- name: install developer brew applications
  homebrew: name={{item}} state=latest
  with_items:
    - wget
    - pwgen
    - xmlstarlet
    - htop
    - watch
    - rsync
    - saml2aws
